<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 只有加入 @Mapper 注解 该配置文件才能扫描得到-->
      <!--<settings>-->
          <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
      <!--</settings>-->

</configuration>
